<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-5 col-md-5">
			<img src="/assets/img/fondo.jpg" alt="" class="img-responsive">
		</div>
		<div class="col-xs-12 col-sm-5 col-md-5 borde_left mt_xs">
			<ul class="styless">
				<li class="item-values_li"><i class="material-icons">description</i> <b>Descripcion:</b><hr>
					<span class="item-values_sp">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt doloremque inventore delectus excepturi quos omnis aliquid beatae nobis maiores. Aliquid voluptatibus earum rem magni odio. Quas minima, eius quo dolorem!
					</span>
				</li>
				<li class="item-values_li"><i class="material-icons">settings_cell</i> <b>Telefonos:</b><hr>
					<span class="item-values_sp">
						<ul style="padding-left: 10px;">
							<li>(044) 341 121 09 21</li>
							<li>(044) 341 121 09 21</li>
							<li>(044) 341 121 09 21</li>
						</ul>
					</span>
				</li>
				<li class="item-values_li">
					<i class="material-icons">place</i> <b>Ubicacion:</b>
					<div class="map">
						<img src="/assets/img/maps.jpg" alt="" class="img-responsive">
					</div>
				</li>
			</ul>
		</div>
	</div>
	<button data-toggle="modal" data-target="#msg_modal" class="btn btn-primary btn-fab btn-float"><i class="material-icons">message</i></button>
</div>

<div class="modal fade" id="msg_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Mensaje a Mama Coneja</h4>
      </div>
      <div class="modal-body">
      	<div class="form-group">
        	<input type="text" class="form-control" placeholder="Tu nombre">
        </div>
        <div class="form-group">
        	<input type="text" class="form-control" placeholder="Tu correo">
        </div>
        <div class="form-group">
        	<textarea id="" cols="30" rows="10" style="resize:none" class="form-control" placeholder="Escribe tu mensaje"></textarea>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info">Enviar mensaje</button>
      </div>
    </div>
  </div>
</div>