hr {
  margin: 0 0 !important;
}
.mt {
  margin-top: 3em;
}
.mb {
  margin-bottom: 1em;
}
.circle {
  border-radius: 50%;
}
.well {
  overflow: hidden;
}
.text-center {
  text-align: center;
}
.styless {
  list-style: none;
  padding-left: 0;
}
.text-left {
  text-align: left;
}
.item-values_li {
  margin-bottom: 10px;
}
.btn-float {
  position: fixed;
  bottom: 5%;
  right: 5%;
}
.borde_left {
  border-left: 1px solid #e3e3e3;
}
@media (max-width: 770px) {
  body .mt_xs {
    margin-top: 2em;
    border-top: 1px solid #e3e3e3;
    padding-top: 20px;
  }
}
